.product-card{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 16px;
    text-align: left;
}

.product-card h2 {
    display: -webkit-box;
    -webkit-line-clamp: 3;    /* Limit to 3 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    /* margin: 12px 0 8px 0; */
    font-size: 1.2rem;
    font-weight: bold;
}

.product-card img {
    height: 200px;      
    width: 100%;       
    object-fit: cover; 
    border-radius: 6px; 
}